/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/


html {
  background-image: url('/images/poopface.jpg');
  height: 100%;
  background-size: cover;
}


body {
  text-align: center;
  width: 800px;
  color: #0a1111;
  font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
}

/* 
#start-button {
  background-color: #910b0b;

}

#start-button:hover {
  background-color: #b40d0d;
} */

.container {
  background-color: rgba(100, 48, 241, 0.5);
  padding: 10px;
  color: white; 
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

ul {
  list-style-type: none;
  text-align: left;
}

li {
  margin-left: 85px;
  background-color: red;
  margin: 5px;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 20px;
}